body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.hero, .footer {
    background-color: #1f2937;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px; 
    color: #f9faf8;
    font-weight: 500;
    align-self: flex-start;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    align-items: center;
    padding: 64px 0;
    margin-top: 32px;
    gap: 32px;
}

#main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
    margin: 0;
}

#secondary-text, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.main .image {
    background-color: gray;
    border-radius: 10px;
    height: 300px;
    width: 100%;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 18px;
    border: 1px solid white;
    border-radius: 8px;
    max-height: 48px;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
}

#info-header {
    align-self: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin-top: 32px;
    margin-bottom: 64px;
}

.info {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
}

.images .image {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 200px;
    margin-bottom: 8px;
}

#quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

#quote .container {
    align-items: center;
    margin: 32px auto;
}

#author {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    align-self: flex-end;
}

#cta .container {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    color: white;
    background-color: #3882f6;
    margin: 56px auto;
    border-radius: 8px;
    width: 50%;
}

#cta-text {
    font-size: larger;
    margin-bottom: 8px;
}

.footer {
    text-align: center;
}